<div class="container">
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">LOGO</a>
    <ul class="navbar-nav">
      <% if !current_business %>
        <li class='nav-item'><%= link_to 'Sign In', new_business_session_url, class:'nav-link' %></li>
      <% else %>
        <li class='nav-item'><%= link_to 'Sign Out', destroy_business_session_url, class:'nav-link', method: :delete %></li>
      <% end %>
      <li class='nav-item'><%= link_to 'Sign Up', new_business_registration_url, class:'nav-link' %></li>
    </ul>
  </nav>

  <div class="parallax">
    <div class="input-group">
      <span class="glyphicon glyphicon-search"></span>
      <input type="text" class="form-control" aria-label="Text input for searching businesses">
    </div>
  </div>

  <h5 class="center-title">Discover</h5>

  <div class="row" id="center-row">
    <div class="col-sm">
      <%= image_tag 'missing.png', class:'small-gallery' %>
    </div>
    <div class="col-sm">
      <%= image_tag 'missing.png', class:'small-gallery' %>
    </div>
    <div class="col-sm">
      <%= image_tag 'missing.png', class:'small-gallery' %>
    </div>
    <div class="col-sm">
      <%= image_tag 'missing.png', class:'small-gallery' %>
    </div>
  </div>

  <div class="row" id="center-row">
    <div class="col-sm">
      <%= image_tag 'missing.png', class:'small-gallery' %>
    </div>
    <div class="col-sm">
      <%= image_tag 'missing.png', class:'small-gallery' %>
    </div>
    <div class="col-sm">
      <%= image_tag 'missing.png', class:'small-gallery' %>
    </div>
    <div class="col-sm">
      <%= image_tag 'missing.png', class:'small-gallery' %>
    </div>
  </div>

  <h5 class="center-title">Add your Business</h5>
  <p class="center-title">
    We help our partners increase revenues, incrase customers, manage bookings,
    streamline operations, and so much more.
  </p>
  <p class="center-title">
    It's free to join, requires no contact, and easily expands public awareness
    to your offering with no extra effort or costs.
  </p>

  <div id="center-row">
    <%= link_to 'Sign Up', new_business_registration_url, class:'submit' %>
  </div>

  <footer id="footer">
    <div class="half">
      <p style="text-align: left; margin-left: 20%; margin-top: 10px;">Phone: +1 (416) XXX-XXXX</p>
    </div>
    <div class="half">
      <p style="text-align: right; margin-right: 20%; margin-top: 10px;">Email: Info@seagul.com</p>
    </div>
    <div id="center-row">
      <p>All Rights Reserved</p>
      <%= link_to "Restaurant Terms & Conditions", "https://bigzpoon.com/#/restaurant_term_condition", class:'footer-link', target:'_blank' %>
      <%= link_to "Customer Terms & Conditions", "https://bigzpoon.com/#/customer_term_condition", class:'footer-link', target:'_blank' %>
      <%= link_to "Privacy Policy", "https://bigzpoon.com/#/privacypolicy", class:'footer-link', target:'_blank' %>
    </div>
  </footer>
</div>
